.more-menu {
    width: 224px;
}

.scroll-menu {
    overflow-y: auto;
}

.menuItems {
    width: 100%;
    padding: 8px 16px;
    font-weight: 600;
    text-align: left;
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: unset;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
